.product-item-container{
    width: 19% !important;
    height: auto !important;
}
.product-item-container .h5 {
    height: 40px;
    overflow: hidden;
}
.product-item-container img{
    width: auto !important;
    height: auto !important;
    max-width: 100%;
}

