/**
  * HTML
  */
#requisits input[type="text"],
#requisits textarea,
#requisits .nice-select,
#requisits select{
    width: 100%;
}
/**
  * Bootstrap
  */
#requisits .btn-danger{
    background-color: #ff6f00;
}
#requisits .btn-danger:hover{
    background-color: #ff9d0d;
}

/**
  * Nice select
  */
#requisits .nice-select{
    line-height: 30px;
}
#requisits .nice-select:active,
#requisits .nice-select.open,
#requisits .nice-select:focus{
    border-color: #3774b1;
}
#requisits .nice-select .list{
    width: 100%;
    padding: 5px;
    background-color: #fff0e0;
}
#requisits .nice-select .option:hover,
#requisits .nice-select .option.focus,
#requisits .nice-select .option.selected.focus{
    background-color: #FF9D0D;
}