div.modern-page-navigation { 
	padding: 0.5em 0;}
div.modern-page-navigation a, 
span.modern-page-current, 
span.modern-page-dots
{
	background: #e5e5e5;
	color: #663af2;
	display: inline-block;
	min-width: 33px;
	height: 33px;
	text-align: center;
	line-height: 32px;
	margin: 0;
	text-decoration: none;
	font-size: 13px;
	font-weight: 500;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	vertical-align: top;
}
span.modern-page-dots{
	background-color: transparent;
}

span.modern-page-current {
	color: #fff;
	background: #663af2;
}

div.modern-page-navigation a.modern-page-next,
div.modern-page-navigation a.modern-page-previous{
	background-size: 50%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}
div.modern-page-navigation a.modern-page-previous{
	background-image: url("/bitrix/templates/s7spb.mp.2/assets/icons/arrows/left.small.svg");
}
div.modern-page-navigation a.modern-page-next{
	background-image: url("/bitrix/templates/s7spb.mp.2/assets/icons/arrows/rirht.small.svg");
}
div.modern-page-navigation a.modern-page-previous:hover{
	background-image: url("/bitrix/templates/s7spb.mp.2/assets/icons/arrows/left.primary.svg");
}
div.modern-page-navigation a.modern-page-next:hover{
	background-image: url("/bitrix/templates/s7spb.mp.2/assets/icons/arrows/rirht.primary.svg");
}
