#anitos-basket{

}

/**
  * Text
  */
#anitos-basket-actions .text-black,
#anitos-basket .text-black{
    color: #0c0d0e;
}
#anitos-basket-actions .text-black-hole,
#anitos-basket .text-black-hole{
    color: #000;
}
#anitos-basket .text-gray{
    color: #999999;
}
#anitos-basket .text-dark{
    color: #010101;
}

/**
  * icons
  */
#anitos-basket-actions .icon-excel,
#anitos-basket .icon-excel{
    display: inline-block;
    vertical-align: middle;
    background-image: url("images/excel.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}
#anitos-basket-actions .icon-save,
#anitos-basket .icon-save{
    display: inline-block;
    vertical-align: middle;
    background-image: url("images/diskette.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
}
#anitos-basket .icon-delete{
    display: inline-block;
    vertical-align: middle;
    background-image: url("images/delete.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
  	transform: translateY(-3px);
}
#anitos-basket .icon-favorite-info{
    width: 24px;
    height: 24px;
    background-size: contain;
}
#anitos-basket .item-favorite-fill {
    transform: translateY(1px);
}
/*
#anitos-basket .icon-favorite{
    display: inline-block;
    vertical-align: middle;
    background-image: url("images/delete.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
}

 */

/**
  * Basket table
  */
#anitos-basket .table{
    width: 100%;
}
#anitos-basket thead{
    color: #969697;
}
#anitos-basket td{padding: 5px;}
#anitos-basket .border-gray{
    border-color: #d1d1d1;
}
#anitos-basket .quantity-counter input,
#anitos-basket .quantity-counter .quantity-counter-minus,
#anitos-basket .quantity-counter .quantity-counter-plus{
    height: 30px;
    line-height: 30px;
}

#anitos-basket .item-favorite-fill,
#anitos-basket .item-favorite-icon{
    width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}
#anitos-basket .item-favorite-icon{background-image: url("images/favorite.svg");}
#anitos-basket .item-favorite-fill{background-image: url("images/favorite-fill.svg");}

/**
  * Bootstrap styles
  */
.form-control{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #bfbaba;
    border-radius: 2px;
    box-shadow: none;
    color: #383838;
    height: auto;
    font-size: 13px;
    padding: 8px 13px 7px;
}

/**
  * Share popup
  */
#element-share{
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 0;
    box-shadow: 0 3px 7px #cacaca;
    background-color: #fff;
    padding: 12px;
}
#element-share .main-share-icon{
    margin-left: 8px;
}
.element-share{
    width: 400px;
}
.element-share input[type=text]{
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #999;
}

/**
  * File popup
  */
#popup-window-content-file_popup textarea{
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px solid #000;
}

/**
  * Price bajic
  */
#anitos-basket .user-price-bajic{
    position: absolute;
    top: auto;
    bottom: -20px;
    z-index: 1;
    border-radius: 3px;
    height: 24px;
    line-height: 24px;
    width: 100px;
    left: 50%;
    margin-left: -60px;
    background-color: #fff7e5;
    color: #f4b901;
    padding-left: 20px;
}

#anitos-basket .user-price-bajic:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #f4b901 ;
    clear: both;
}

#anitos-basket .user-price-bajic-success{
    background-color: #dfffe4;
    color: #4ece02;
}
#anitos-basket .user-price-bajic-success:after {
    border-top: 6px solid #4ece02;
}

#anitos-basket .user-price-bajic-danger{
    background-color: #fdf0fa;
    color: #663af2;
}
#anitos-basket .user-price-bajic-danger:after {
    border-top: 6px solid #663af2;
}
#anitos-basket img{
    max-height: 100px;
    max-width: 100px;
}
#MINIMUM_ORDER_PRICE{
    height: 76px;
}