/**
  * Header
 */
#s7sbp-header{

}
#s7sbp-header #cart-informer-count{
    color: #fff;
    font-size: 10px;
    background-color: #ff0000;
    width: 19px;
    height: 19px;
	align-items: center;
    justify-content: center;
    display: flex;
    line-height: 17px;
    white-space: nowrap;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    left: 56%;
    margin-left: -8px;
}
/**
  * Main
  */
#s7sbp-main{
    padding-top: 2px;
    margin-bottom: 40px;
    flex: 1;
}
/**
  * Footer
  */
#s7sbp-footer{
    background-color: #3d137b;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 40px;
}
.social-link{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    background-size: contain;
}
.social-link.social-link-vk{
    background-image: url("assets/icons/vk.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.social-link.social-link-fb{
    background-image: url("assets/icons/fb.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.social-link.social-link-tw{
    background-image: url("assets/icons/twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/**
  * Lists
  */
ul.dashed {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -5px;
    padding-right: 6px;
}
ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
    padding-right: 5px;
}
ul.empty {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/**
  * Scroll to top button
  */
#scroll-to-top{
    box-sizing: border-box;
    bottom: 80px;
    right: 80px;
    cursor: pointer;
    position: fixed;
    z-index: 5000;
    background-color: #663af2;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    padding: 15px;
}
#scroll-to-top div{
    background-image: url("assets/images/up-arrow.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

/**
  * Humburger
  */
.hamburger {
    font: inherit;
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    height: 40px;
    width: 40px;
    text-align: center;
}
.hamburger.active{
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.hamburger.active .hamburger-inner,.hamburger.active .hamburger-inner:after,.hamburger.active .hamburger-inner:before {
    background-color: #663af2;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 38px;
}

.hamburger-inner {
    top: 50%;
    display: block;
}

.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before {
    position: absolute;
    width: 30px;
    height: 3px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    background-color: #663af2
}

.hamburger-inner:after,.hamburger-inner:before {
    display: block;
    content: ""
}

.hamburger-inner:before {
    top: -8px
}
.hamburger-inner:after {
    bottom: -8px
}

.hamburger--squeeze .hamburger-inner {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms
}

.hamburger--squeeze .hamburger-inner:before {
    transition: top 75ms ease .12s,opacity 75ms ease
}

.hamburger--squeeze .hamburger-inner:after {
    transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19)
}

/**
  * Sidebur
  */
#s7sbp-sidebur{
    width: 230px;
}

#s7sbp-sidebur-menu{
    margin: 0;
    padding: 15px;
    list-style: none;
    background-color: #fff;
}

/**
  * stiky bascet informer
  */
#stiky-bascet{
    bottom: 80px;
    right: 164px;
    position: fixed;
    z-index: 5000;
    height: 60px;
    min-width: 94px;
    border-radius: 30px;
    border: 0 none;
    box-shadow: 0 2px 7px #663af2;
    background-color: #fdf0fa;
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
    box-sizing: border-box;
}
#stiky-bascet .s7sbp--marketplace--full--basket--counter{
    position: initial;
    color: #663af2;
    background: none;
    padding: 2px 7px;
    top: auto;
    left: auto;
    border-radius: 12px;
    visibility: visible;
    opacity: 1;
    min-width: 22px;
    min-height: 22px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}
#stiky-bascet .icon-basket{
    width: 30px;
    height: 30px;
    background-image: url("assets/images/basket.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
#stiky-bascet b{font-weight: bold;}



/**
  * Images
  */
.img-100{
    width: 100%;
    height: auto;
}
.img-90{
    width: 100%;
    height: auto;
}
.img-200{
    max-width: 200px;
    height: auto;
    width: auto;
    max-height: 200px;
}

.st0{fill:#FFFFFF;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}