/**
  * Litle carusel variant
 */
#discont-menu-items{
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    margin-left: -5px;
    margin-right: -5px;
}

#discont-menu-items .discont-menu-item{
    flex: 0 0 25%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

#discont-menu-items .discont-menu-item img{
    width: 100%;
    height: auto;
    display: block;
}

#discont-menu-items .stick{
    position: absolute;
    bottom:0;
    right: 0;
    left: auto;
    top: auto;
    width: 136px;
    height: 107px;
    background-image: url("/bitrix/templates/s7spb.anitos/assets/images/layer.png");
    background-repeat: no-repeat;
    background-position: -65px -195px !important;
    color: #fff;
    text-align: center;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 18px;
    font-family: "Open Sans Bold";
    box-sizing: border-box;
    padding-top: 52px;
    padding-left: 30px;
    white-space: normal;
    line-height: 1;
}
#discont-menu-items .stick.stick_primary{
    background-position: -81px -367px !important;
}
#discont-menu-items .stick.stick_danger{
    background-position: -79px -366px !important;
}