.bx-breadcrumb {
	margin: 0px 0 !important;
}
.bx-breadcrumb i {
	color: #b5bdc2;
	line-height: 13px;
	font-size: 12px;
	vertical-align: middle;
	margin-right: 5px;
}
.bx-breadcrumb .bx-breadcrumb-item {
	float: left;
	margin-bottom: 10px;
	white-space: nowrap;
	line-height: 13px;
	vertical-align: middle;
	position: relative;
	margin-right: 10px;
}
.bx-breadcrumb .bx-breadcrumb-item span {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	white-space: normal;
}
.bx-breadcrumb .bx-breadcrumb-item a {border-bottom: none;}
.bx-breadcrumb .bx-breadcrumb-item:hover .breadcrumb-dropdown{
	opacity: 1;
	z-index: 5000;
}
.breadcrumb-dropdown {
  width: 213px;
  z-index: -1;
  opacity: 0;
  -webkit-box-shadow: 0 0 8px 1px rgba(42, 42, 42, 0.4);
          box-shadow: 0 0 8px 1px rgba(42, 42, 42, 0.4);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 8px 13px;
  position: absolute;
  list-style: none;
  top: 3px;
}

.breadcrumb-dropdown li a {
  font-size: 14px;
  line-height: 25px;
  color: #878787;
  font-family: 'Roboto';
  text-decoration: none;
}
.breadcrumb-dropdown li a:hover {
   text-decoration: underline;
}
.bx-breadcrumb .bx-breadcrumb-item .breadcrumb-dropdown {
	 white-space: normal !important;
}