/**
  * modal-vendor-message
  */
#modal-vendor-message{min-width: 488px;}
#modal-vendor-message .text-nowrap{white-space: nowrap;}
#modal-vendor-message .lk-design-item{align-items: center;}
#modal-vendor-message .lk-design-name{min-width: 70px;}
#modal-vendor-message .d-block{display: block;}
#modal-vendor-message textarea{height: 200px;}
#modal-vendor-message .error-field{
    border: 1px solid #ff2400;
}

.fancybox-container{z-index: 500 !important;}
@media (max-width: 488px) {
    #modal-vendor-message{min-width: 320px;}
}
.fancybox-overlay{z-index: 2000 !important;}