#shop-reviews{

}
#shop-reviews .item{
	border-bottom: 1px solid #ededed;
	padding-top: 20px;
	padding-bottom: 20px;
}
#shop-reviews h3{
	font-weight: bold;
	font-size: 18px;
	font-family: Roboto;
}
#shop-reviews .read-more-btn{
	color: #5072ff;
	cursor: pointer;
}
#shop-reviews .preview-text{
	margin-bottom: 20px;
}
#shop-reviews .detail-text{
	margin-bottom: 20px;
}
#shop-reviews .date{
	white-space: nowrap;
}
/**
  * Adaptive grid
  */
#shop-reviews .ad-grid{
	display: flex;
	margin-right: -24px;
	margin-left: -24px;
}
#shop-reviews .ad-grid-cell{
	margin-right: 24px;
	margin-left: 24px;
}
@media (max-width: 500px) {
	#shop-reviews .ad-grid{
		display: block;
		margin-right: 0;
		margin-left: 0;
	}
	#shop-reviews .ad-grid-cell{
		margin-right: 0;
		margin-left: 0;
	}
}