.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #009a82;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #009a82;
}
/**
  * Popup
  */
#multiplebasket_popup{
    width: 430px;
}
#multiplebasket_popup input{
    width: 100%;
}
#multiplebasket_popup input[type=submit]{
    margin-top: 10px;
    background-color: #ff7a04;
}