#basket{
	font-size: 14px;
	background-color: #fff;
}
/**
  * Html
  */
#basket h1{
	font-size: 24px;
}
#basket h3,
#basket .h3{
	font-size: 18px;
}
#basket h4,
#basket .h4{
	font-size: 16px;
}
#basket a{
	font-size: 12px;
	cursor: pointer;
}
#basket s{
	color: #878787;
	display: block;
}
#basket .text-white-space{
	white-space: nowrap;
}
/**
  * Bootstrap restyle
  */
#basket .text-secondary{
	color: #878787;
}
#basket .border-secondary{
	border-color: #dcdcdc !important;
}
#basket .border-primary{
	border-color: #663af2 !important;
}
#basket .bg-light{
	background-color: #efefef;
}
#basket .btn{
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: normal;
}
#basket .btn-danger{
	background-color: #FF0000 !important;
}
#basket .text-danger{
	color: #FF0000 !important;
}
/**
  * Buscet styleshit
  */
#basket .trash-link{
	background-image: url("images/delete.svg");
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 20px;
	height: 14px;
	line-height: 14px;
}

#basket .item-favorite-fill,
#basket .item-favorite-icon{
	width: 14px;
	height: 14px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	cursor: pointer;
}
#basket .item-favorite-icon{background-image: url("images/favorite.svg");}
#basket .item-favorite-fill{background-image: url("images/favorite-fill.svg");}

#basket .item-price{
	font-weight: bold;
	white-space: nowrap;
}
#basket .item-price s,
#basket .item-price div{
	font-weight: normal;
}
#basket .item-sum{
	font-weight: bold;
	font-size: 16px;
	white-space: nowrap;
}
#basket .coupon input[type="text"]{
	max-width: 350px;
}

/**
  * Modal
  */
#modal-basket {
	position: fixed;
	top: 10%;
	bottom: auto;
	left: 50%;
	right: auto;
	z-index: 1050;
	display: none;
	overflow: hidden;
	outline: 0;
	width: 500px;
	margin-left: -250px;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
}
#modal-basket img{
	width: auto;
	height: 150px;
}
#modal-basket .modal-footer{
	justify-content: center;
}

#popup-window-content-file_popup textarea {
	width: 100%;
	height: 100px;
	padding: 5px;
	border: 1px solid #000;
}