/**
  * Brands category chars
  */
.brands_category_chars a{
	background-color: #fff;
	border: 1px solid #d3f5f4;
	cursor: pointer;
}

.brands_category_chars a.active,
.brands_category_chars a:hover{
	color: #000;
	background-color: #d3f5f4;
	border-color: #15c3bc;
}

/**
  * Other styles
  */
.btn.disabled{
	background-color: #c3c3c3;
}
.s7sbp--marketplace--section-title{
	font-size: 40px;
	border-bottom: 2px solid #dddddd;
	padding-left: 20px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	margin-top: 15px;
}

/**
  * Brend item
  */
.brend-item{
	font-size: 1rem;
	line-height: 16px;
	text-decoration: none;
	color: #666;
    font-size: 16px !important;
}