#company-left-area{
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    font-size: 24px;
}
#company-left-area img{
    margin: 0;
    padding: 0;
    max-height: 40px;
    height: auto;
    width: auto;
}
#company-left-area .bordered{
    border-right: 2px solid #d4d4d4;
    padding-right: 24px;
}
#company_search{
    flex: 2;
    text-align: right;
}

#company_search form{
    border: .5px solid #bfbaba;
    border-radius: 7px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 346px;
    width: 100%;
    display: inline-block;
    position: relative;
}
#company_search input[type="text"]{
    border: 0 none;
    padding-left: 12px;
    padding-right: 50px;
}
#company_search .s7sbp--marketplace--header--search-line--search--input--button{
    border: 0 none;
}
#company_search .s7sbp--marketplace--header--search-line--search--input--button:after{
    border: 0 none;
    background-image: url("/bitrix/templates/s7spb_marketplace/assets/images/loop.primary.png");
    background-color: #fff;
}
