/**
  * Litle carusel variant
 */
#new-slider{
    scroll-behavior: smooth;
}

#new-slider .new-slider-item{
    flex: 0 0 20%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
