row-cell.row-cell {

}
.line-item {
    margin-bottom: 7px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f3f3f3;
    margin-left: 10px;
}
.s7spb-row.s7spb-row12.row-line {
    display: inline-block;
    width: 100%;
}
.pb3.img-line-view {
    max-width: 150px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.s7spb-row.s7spb-row12.row-line .s7spb-product-name {
    text-align: left;
    font-size: 16px;
}
.s7spb-product-cell-line.row-cell{
    //box-shadow: 0 3px 20px #999;
    border-radius: 10px;
    /* position: absolute; */
    background-color: #fff;
    z-index: 1000;
    /* width: 290px; */
    padding: 5px 20px 9px 20px;
    /* margin-top: -24px; */
    min-height: 116px;
}

.s7spb-row.quantity-counter.row-line {
    background-image: url(../line/images/catalog.section/bg.form.gif);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 38px;
    flex: 1;
    padding-left: 11px;
    padding-right: 18px;
    border: 0 none;
}
.s7spb-product-cell-line form .quantity-counter {
    background-image: url(../line/images/catalog.section/bg.form.gif);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 38px;
    flex: 1;
    padding-left: 11px;
    padding-right: 18px;
    border: 0 none;
}
.px5.row-line {
    max-width: 265px;
    float: right;
}
.add-line-card {
    display: block;
    width: 270px;
    float: right;
}
.s7spb-product-cell-line .s7spb-product-props {
    display: block;
    text-align: left;
    width: 200px;
    float: left;
}
.s7spb-product-cell-line form {
    display: flex;
    background-image: url(../line/images/catalog.section/bg.input.gif);
    background-repeat: repeat-x;
    background-color: #fff;
    height: 38px;
    margin-right: 30px;
    position: relative;
}
.s7spb-product-cell-line form .quantity-counter {
    background-image: url(../line/images/catalog.section/bg.form.gif);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 38px;
    flex: 1;
    padding-left: 11px;
    padding-right: 18px;
    border: 0 none;
}
.s7spb-product-cell-line form .quantity-counter-minus {
    line-height: 20px;
}
.s7spb-product-cell-line form .quantity-counter-minus, .s7spb-product-cell-line form .quantity-counter-plus {
    font-size: 24px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    background-color: #dcdcda;
    color: #a7a7a6;
    border-radius: 10px;
    top: 20px;
    margin-top: 7px;
    text-align: center;
}
.s7spb-product-cell-line form input[type="text"] {
    background-color: transparent;
    height: 38px;
    border: 0 none;
}
.s7spb-product-cell-line form .quantity-counter-minus, .s7spb-product-cell-line form .quantity-counter-plus {
    font-size: 24px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    background-color: #dcdcda;
    color: #a7a7a6;
    border-radius: 10px;
    top: 20px;
    margin-top: 7px;
    text-align: center;
}
.s7spb-product-cell-line form input[type="submit"] {
    flex: 0 0 auto;
    border: 0 none;
    background-color: transparent;
    background-image: url(../line/images/catalog.section/bg.submit.png);
    background-repeat: no-repeat;
    height: 38px;
    width: 66px;
    cursor: pointer;
    margin-right: -30px;
}
.text-14 {
    font-size:14px;
}
.text-20 {
    font-size:20px;
}
.s7spb-row.s7spb-row12.row-line .s7spb-product-name {
    margin-bottom: 10px;
}
.row-cell a {
    width: 640px;
}
.add-line-card-line {
    display: inline-block;
    width: 257px;
    float: right;
    margin-bottom: 30px;
    top: -20px;
    position: relative;
}