#s7sbp--marketplace--index--adv-sales {
    background-image: url(images/adv_02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 378px;
    position: relative;
    margin: 20px 0;
    font-weight: 300;
}

#s7sbp--marketplace--index--adv-sales--text {
    position: absolute;
    right: 60px;
    top: 70px;
    font-size: 30px;
    color: #fff;
    line-height: 2;
    text-align: center;
}
