.s7sbp--marketplace--index--catalog--menu{
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 5px;
}
.s7sbp--marketplace--index--catalog--menu--list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.s7sbp--marketplace--index--catalog--menu--title {
    color: #4c26c5;
    font-size: 18px;
    padding: 15px 0 15px 15px;
}

.s7sbp--marketplace--index--catalog--menu--list--item {
    min-height: 24px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    position: relative;
}
.s7sbp--marketplace--index--catalog--menu--list--item:hover {
    background: #f3f0fb;
}
.s7sbp--marketplace--index--catalog--menu--list--item--icon {
    display: inline-block;
    width: 18px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}
.s7sbp--marketplace--index--catalog--menu--list--item--link {
    font-size: 15px;
    color: #000;
    text-decoration: none;
}
.s7sbp--marketplace--index--catalog--menu--list--item--link:hover,
.s7sbp--marketplace--index--catalog--menu--list--item.active>.s7sbp--marketplace--index--catalog--menu--list--item--link {
    color: #5072ff;
}
