/**
  * Litle carusel variant
 */
#recomended-items{
    scroll-behavior: smooth;
}

#recomended-items .recomended-item{
    flex: 0 0 15%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#recomended-items .recomended-item img{
    width: 100%;
    height: auto;
}
