/**
  * Litle carusel variant
 */
#top-bunner-items{
	overflow: hidden;
	scroll-behavior: smooth;
	position: relative;
	height: 390px;
	background-color: #24d0c8;
	background-repeat: no-repeat;
	background-position: top right;
	background-image: url("images/bg.gif");
	display: flex;
	align-items: center;
}

#top-bunner-items .top-bunner-item{
	flex: 0 0 100%;
	text-align: center;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

#top-bunner-items .top-bunner-item img{
	width: auto;
	height: 390px;
}

#top-bunner-controls{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -45px;
}
#top-bunner-controls .top-bunner-prev,
#top-bunner-controls .top-bunner-next{
	width: 60px;
	height: 90px;
	position: absolute;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("images/arrows.png");
}

#top-bunner-controls .top-bunner-prev{
	left: 8%;
	background-position: 0 0;
}
#top-bunner-controls .top-bunner-next{
	right: 8%;
	background-position: -54px 0;
}
