
#sections-form{

}

#sections-form label{
    display: inline-flex;
    width: 33%;
    cursor: pointer;
    padding-bottom: 5px;
    line-height: 15px;
    min-height: 25px;
    vertical-align: middle;
	align-items: center;
}
.el-checks-text {
    margin-left: 11px;
    position: relative;
    top: -1px;
    -webkit-transition-property: top, bottom;
    -webkit-transition-duration: 0.5s;
    line-height: 15px;
}
nput, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    /* margin-left: 11px; */
    position: relative;
    top: -1px;
    -webkit-transition-property: top, bottom;
    -webkit-transition-duration: 0.5s;
    line-height: 15px;
}