.techsupport {
    background-color: #5072ff;
    padding-top: 24px;
    padding-left: 14px;
    padding-right: 13px;
    padding-bottom: 24px;
    border-radius: 5px;
    margin-top: 0;
}
.techsupport_container {
    position: relative;
    z-index: 2;
    /* padding: 0 14px; */
    background-color: #5072ff;
}

.techsupport_container::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1px;
    background-color: #a8b9ff;
}

.techsupport_svg {
    width: 46px;
    height: 24px;
    position: relative;
    top: -10px;
    left: 50%;
    background-color: #5072ff;
    z-index: 2;
    padding-left: 7px;
    margin-left: -24px;
}
.techsupport_btn {
    color: #000000;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 14px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    display: block;
}
.techsupport label{
    color: #fff;
}