#s7sbp--marketplace--index--adv-register {
    background-image: url(images/adv_01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 378px;
    position: relative;
    margin: 20px 0;
    font-weight: 300;
}

#s7sbp--marketplace--index--adv-register--text {
    position: absolute;
    right: 60px;
    top: 70px;
    font-size: 30px;
    color: #fff;
    line-height: 2;
    text-align: center;
}
.s7sbp--marketplace--index--adv-register--promocode {
    display: inline-block;
    padding: 11px 48px;
    border: 1px solid #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
}