

/**
  * Litle carusel variant
 */
#slider-two-items{
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    height: 390px;
    margin-left: -5px;
    display: flex;
    align-items: center;
}

#slider-two-items .slider-two-item{
    flex: 0 0 50%;
    text-align: center;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

#slider-two-items .slider-two-item img{
    width: 100%;
    height: auto;
}

#top-bunner-controls{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -45px;
}
