#reviews-component{

}
#reviews-component input[type="text"]{
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 30px;
    width: 130px;
}
#reviews-component .reviews-reply-field-text{
    border: 1px solid #dedede;
    border-radius: 4px;
}
#reviews-component .bxlhe-editor-toolbar-row,
#reviews-component .lhe-resize-row{
    display: none;
}
#reviews-component .reviews-reply-field-user,
#reviews-component .reviews-reply-field-captcha{
    display:flex;
    margin-top: 15px;
}
