/**
  * More photos
  */
#market2-catalog-element-photo img{

}
#market2-catalog-element-photos{
    flex-basis: 430px;
    position: relative;
    min-height: 430px;
    text-align: center;
    display: flex;
    align-items: start;
    justify-content: center;
}
#market2-catalog-element-thumbs{
    padding-right: 10px;
    margin-top: 24px;
    padding-left: 0;
}
#market2-catalog-element-thumbs li{
    display: block;
    width: 79px;
    height: 79px;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 5px;
}
#market2-catalog-element-thumbs li.active,
#market2-catalog-element-thumbs li:hover{
    border-color: #663af2;
}

#market2-catalog-element-properties{
    flex-basis: 423px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 503px;
}
#market2-catalog-element-sale{

}

/**
  * H company
  * text-decoration-none text-white
  */
.h-company-link a{
    color: #fff;
    text-decoration: none;
}

/**
  * Favorite
  */
#market2-element-favorite{
    padding-left: 5px;
    padding-right: 5px;
    color: #4c26c5;
}
#market2-element-favorite.active{

}
#market2-element-favorite.active .icon-favorite-info{
    background-image: url("/bitrix/templates/s7spb.mp.2/assets/icons/favorite.primary.svg");
}

/**
  * Share
  */
#element-share{
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 0;
    box-shadow: 0 3px 7px #cacaca;
    padding: 12px;
}
#element-share:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: #fff;
    right: 20%;
    top: -16px;
    margin-left: -11px;
}
#element-share .main-share-icon{
    margin-left: 8px;
}

/**
  * Tabs
  */
.s7sbp--marketplace--catalog-element-detail-product--tabs {
    margin-top: 30px;
    border-radius: 5px;
}
.s7sbp--marketplace--catalog-element-detail-product--tabs--header{
    background-color: #f4f4f4;
    border-bottom: 1px solid #dedede;
    display: flex;
}
.s7sbp--marketplace--catalog-element-detail-product--tabs--header--item {
    display: inline-block;
    background-color: #f4f4f4;
    color: #878787;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    padding: 20px 45px;
    border-right: 1px solid #dedede;
    position: relative;
    margin-bottom: -1px;
}
.s7sbp--marketplace--catalog-element-detail-product--tabs--header--item:hover,
.s7sbp--marketplace--catalog-element-detail-product--tabs--header--item.active {
    color: #4c26c5 ;
    background-color: #fff;
}
.s7sbp--marketplace--catalog-element-detail-product--tabs--body--item {
    display: none;
    padding: 30px;
    background: #fff;
}
.s7sbp--marketplace--catalog-element-detail-product--tabs--body--item.active {
    display: block;
}
.s7sbp--marketplace--catalog-element-detail-product--tabs--body--item--title,
.s7sbp--marketplace--catalog-element-detail-product--tabs--body--item--title-sub {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 30px;
}
.s7sbp--marketplace--catalog-element-detail-product--tabs--body--item--title-sub {
    font-size: 14px;
    margin: 30px 0 10px;
}
.s7sbp--marketplace--catalog-element-detail-product--tabs--body--item--detail-text {
    font-size: 16px;
    margin-bottom: 30px;
}
.s7sbp--marketplace--catalog-element-detail-product--tabs--body--item--property .props_list {
    width: 100%;
}
.s7sbp--marketplace--catalog-element-detail-product--tabs--body--item--property .props_list td {
    font-size: 14px;
}
.s7sbp--marketplace--catalog-element-detail-product--tabs--body--item--property .props_list td>span {
    color: #000;
}
.property-display-value{
    max-width: 150px;
    text-align: right;
}

/**
  * Product informer
  */
#market2-price-info{
    padding: 5px;
    border: 1px solid #4c26c5;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -100px;
    line-height: 14px;
}
#market2-price-info a{
    color: #4c26c5;
    text-decoration: underline;
    font-size: 14px;
    line-height: 20px;
}
#market2-price-info:after{
    border-bottom: 1px solid #4c26c5;
    border-left: 1px solid #4c26c5;
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    position: absolute;
    left: -6px;
    top: 50%;
    transform: rotate(45deg);
    background-color: #fff;
}

/**
  * Catalog product in basket
  */
#market2-product-basket-quantity{
    display: none;
    border: 1px solid #4c26c5;
    color: #4c26c5;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}
#market2-product-basket-quantity.d-block{
    display: block;
}
#market2-product-basket-quantity.active{
    color: #fff;
    background-color: #4c26c5;
}
