/**
  * Litle carusel variant
 */
#discont-menu-items{
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    margin-left: -5px;
    margin-right: -5px;
}

#discont-menu-items .discont-menu-item{
    flex: 0 0 25%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

#discont-menu-items .discont-menu-item img{
    width: 100%;
    height: auto;
    display: block;
}