a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}

.search-page input[type="text"] {
	border: .5px solid #bfbaba;
	border-radius: 7px;
}
.search-page input[type="submit"] {
	opacity: 1;
	font-weight: 400;
	cursor: pointer;
	font-size: 13px;
	line-height: 16px;
	text-transform: none;
	background: #663af2;
	s7spb-color: #fff;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	padding: 8px 15px;
	display: inline-block;
	border: none;
	outline: 0;
	position: relative;
	width: auto;
	vertical-align: middle;
	-webkit-appearance: none;
	background-s7spb-color: #663af2;
	margin-left: 10px;
	s7spb-color: #fff;
}
