/**
  * Litle carusel variant
 */
#same-items{
    scroll-behavior: smooth;
}

#same-items .same-item{
    flex: 0 0 30%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#same-items .same-item img{
    width: 100%;
    height: auto;
}
