.s7sbp--marketplace--partner {
	padding: 30px;
	background: #fff;
}
.s7sbp--marketplace--partner--title {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 30px;
	text-transform: uppercase;
	display: block;
	padding-right: 50px;
	line-height: 1.2;
}
.s7sbp--marketplace--partner--description-top {
	font-size: 18px;
	line-height: 1.5;
}

.s7sbp--marketplace--partner--form {
	max-width: 400px;
}
.s7sbp--marketplace--partner--form .form-control input,
.s7sbp--marketplace--partner--form .form-control table,
.s7sbp--marketplace--partner--form .form-control select{
	width: 100%;
}
.s7sbp--marketplace--partner--form .form-control input,
.s7sbp--marketplace--partner--form .form-control select{
	padding: 10px 13px 12px;
}
.s7sbp--marketplace--partner--description-success {
	font-size: 20px;
	line-height: 1.5;
	color: #00e200;
	text-align: center;
	max-width: 800px;
	margin: 0 auto 30px;
}

/**
  * error fields
  */
.s7sbp--marketplace--partner--form .form-control-error{
	color: #FF0000;
}
.s7sbp--marketplace--partner--form .form-control-error input,
.s7sbp--marketplace--partner--form .form-control-error select
{
	border-color:#FF0000;
	box-shadow: 0 0 12px #FF0000;
}

/**
  * success fields
  */
.s7sbp--marketplace--partner--form .form-control-success{
	color: #00AA00;
}
.s7sbp--marketplace--partner--form .form-control-success input,
.s7sbp--marketplace--partner--form .form-control-success select
{
	border-color:#00AA00;
	box-shadow: 0 0 12px #00AA00;
}
