.bx-gadgets-content-layout-koorochka {
    display:inline-block;
    padding:15px 0 15px;
    vertical-align:top;
}

.bx-gadgets-spb7:hover .bx-gadgets-color-config-close {background-position:-1px -554px;}
.bx-gadgets-spb7:hover .bx-gadgets-color-config-close:hover {background-position:-1px -572px;}

.bx-gadgets-colourful.bx-gadgets-spb7 {
    background: url("images/blog.bg.png") repeat #96b132;
    border: 0;
    overflow:hidden;
}
.bx-gadgets-colourful.bx-gadgets-spb7 .bx-gadgets-content {
    background:none;
    box-shadow:none;
    height:138px;
    -webkit-box-shadow:none;
    margin:0 0 0 11px!important;
    padding:0 11px 0 0;
    position: relative;
}
.bx-gadgets-content-layout-koorochka .bx-gadgets-title {
    color: #333 !important;
}

.bx-gadgets-spb7 .bx-gadget-shield {
    background:url("/system/7studio/images/logo.svg") no-repeat left top;
    background-size: contain;
    float:right;
    margin: 15px;
    height: 84px;
    width: 80px;
    padding: 10px;
}
.bx-gadgets-spb7 .bx-gadget-button {
    background:#a0bf29;
    background:-webkit-linear-gradient(top, #b6d734, #86a21c);
    background:-moz-linear-gradient(top, #b6d734, #86a21c);
    background:-ms-linear-gradient(top, #b6d734, #86a21c);
    background:-o-linear-gradient(top, #b6d734, #86a21c);
    background:linear-gradient(top, #b6d734, #86a21c);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.03), inset 0 -1px 0 rgba(255,255,255,.1), inset 0 0 0 1px rgba(255,255,255,.2), 0 1px 0 #778f1d;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.03), inset 0 -1px 0 rgba(255,255,255,.1), inset 0 0 0 1px rgba(255,255,255,.2), 0 1px 0 #778f1d;
    border:1px solid;
    border-color:#86a129 #748b1f #586a15;
    border-radius:4px;
}

.bx-gadgets-spb7 .bx-gadget-button:hover {
    background:#a9c92d;
    background:-webkit-linear-gradient(top, #cdec51, #9cba26);
    background:-moz-linear-gradient(top, #cdec51, #9cba26);
    background:-ms-linear-gradient(top, #cdec51, #9cba26);
    background:-o-linear-gradient(top, #cdec51, #9cba26);
    background:linear-gradient(top, #cdec51, #9cba26);
    -webkit-box-shadow:inset 0 1px 0 #bedb4a, inset 0 -1px 0 rgba(255,255,255,.1), inset 0 0 0 1px rgba(255,255,255,.2), 0 1px 0 #778f1d;
    box-shadow:inset 0 1px 0 #bedb4a, inset 0 -1px 0 rgba(255,255,255,.1), inset 0 0 0 1px rgba(255,255,255,.2), 0 1px 0 #778f1d;

}

.bx-gadgets-spb7 .bx-gadget-button-lamp { background:url("/local/gadgets/koorochka/signature/images/lamp.png") no-repeat left top transparent; }
.bx-gadgets-spb7 .bx-gadget-button-active .bx-gadget-button-lamp {background:url("/local/gadgets/koorochka/signature/images/lamp_active.png") no-repeat left top transparent; }
.bx-gadgets-spb7 div.bx-gadget-mark {
    color: #333;
    font-size: 19px;
    line-height: normal;
    width: auto;
    max-width: 200px;
}
.bx-gadgets-spb7 .bx-gadget-mark-desc {
    color: #333;
    font-size: 15px;
    line-height: normal;
    width: auto;
}