.rating {display: inline-block;}
.iblock-vote-title {color:#333333;font-size: 14px;margin-right: 5px}
.iblock-vote {display: inline-block;position: relative;top: 4px;}
.iblock-vote table td div {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("images/star.active.svg");
    width:14px;
    height:14px;
    overflow:hidden;
	margin-right: 4px;
}
div.star-voted, div.star-over { }
.iblock-vote table td div.star-empty {
    background-image: url("images/star.svg");
}
.iblock-vote table td div.star-over {
    background-image: url("images/star.active.svg");
}
