.widget-popup--wrapper {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 2001;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.widget-popup--wrapper.widget-popup--wrapper--show {
  visibility: visible;
  opacity: 1;
}

.in-f {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.in-f .form-control {
  height: 52px;
  box-shadow: inset 2px 1px 5px rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  max-width: 331px;
  width: 100%;
  border: none;
  border-radius: 9px;
  margin-bottom: 10px;
  padding: 0px 20px;
}
.img-cap {
  margin-bottom: 10px;
}
.widget-popup {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fdf5fb;
  border-radius: 10px;
  padding: 30px 35px 25px;
  width: 95%;
  max-width: 509px;
  box-shadow: 11px 6px 17px rgba(0, 0, 0, 0.37);
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
  /*
	box-shadow: 0 40px 40px -20px rgba(0,0,0,.19);
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(.7);
	-moz-transform: translateX(-50%) translateY(-50%) scale(.7);
	-ms-transform: translateX(-50%) translateY(-50%) scale(.7);
	transform: translateX(-50%) translateY(-50%) scale(.7);
	opacity: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	 */
}
.widget-popup--wrapper .caption {
  /*display: none;*/
}

.widget-popup--wrapper--show .widget-popup {
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
}

.widget-popup--close {
  position: absolute;
  top: -10px;
  right: -11px;
  padding: 15px;
  border: none;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.37);
  background-color: #fdf5fb;
  cursor: pointer;
}
.widget-popup--close--span {
  position: relative;
  display: block;
  width: 15px;
  border: none;
  height: 15px;
}
.widget-popup--close--span:before,
.widget-popup--close--span:after {
  content: "";
  position: absolute;
  top: -7px;
  left: -1px;
  width: 3px;
  height: 14px;
  border-radius: 7px;
  background-color: #666;
}
.widget-popup--close--span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.widget-popup--close--span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.widget-popup--body {
  height: auto;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.widget-popup--body--title,
.widget-popup--body--title--sub {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.widget-popup--body--title {
  font-size: 29px;
  margin-bottom: 36px;
}
.widget-popup--body--title--sub {
  color: #2a9ed4;
}
.widget-popup--body--title--sub a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
.widget-popup--body--form {
  margin-top: 15px;
}
.widget-popup--body--form--field {
  text-align: center;
  margin-bottom: 7px;
}
.widget-popup--body--form--field input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 0.5px solid #ddd;
  padding: 7px 10px;
  color: #333;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 20px;
}

.widget-popup--body--form--field--btn {
  display: inline-block;
  padding: 8px 25px;
  border-radius: 5px;
  background: #4fa71a;
  border: none;
  color: #fff;
  font-size: 18px;
  margin: 10px 0;
}

.widget-popup--body--inform {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
}

table.form-table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  font-size: 100%;
  font-weight: normal;
  line-height: 160%;
}

table.form-table th,
table.form-table td {
  border: 1px solid #adc3d5;
  padding: 5px 5px;
  vertical-align: top;
}

table.form-table th {
  background-image: url(images/table_head.gif);
  background-repeat: repeat-x;
  text-align: left;
  color: #25639a;
}

table.form-table td {
  padding: 15px 5px;
}

.form-required {
  color: red;
}

.error-fld {
  display: block;
  float: left;
  height: 13px;
  width: 15px;
  background-repeat: no-repeat;
  background-image: url(images/icon_warn.gif);
}
.btn--mm {
  background-color: #22cfc7;
  height: 54px;
  width: 100%;
  max-width: 331px;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.agree_row {
  flex-direction: row;
  margin-bottom: 13px;
}

.agree_style_checkbox {
  margin-right: 10px;
}

