#company-left-area{
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 24px;
}
#company-left-area img{
    margin: 0;
    padding: 0;
    max-height: 40px;
    height: auto;
    width: auto;
}
#company-left-area .bordered{
    border-right: 2px solid #d4d4d4;
    padding-right: 24px;
}
#company_search{
    flex: 2;
    text-align: right;
}

#company_search form{
    background-color: #fff;
    border: .5px solid #bfbaba;
    border-radius: 7px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 346px;
    width: 100%;
    display: inline-block;
    position: relative;
    height: 40px;
}
#company_search input[type="text"]{
    border: 0 none;
    padding-left: 12px;
    padding-right: 50px;
    font-size: 14px;
}
#company_search .s7sbp--marketplace--header--search-line--search--input--button{
    border: 0 none;
    background-image: url("/bitrix/templates/s7spb.mp.2/assets/icons/loop.primary.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    cursor: pointer;
}
#company_search .s7sbp--marketplace--header--search-line--search--input--button:hover{
    background-color: #fff8a8;
}


/**
  * Company navigation
  */
.site-list {
    display: flex;
    flex-wrap: wrap;
    background-color: #663af2;
    margin: 0;
    padding: 0;
    list-style: none;
}

.elecity-nav {
    width: 100%;
}

.site-list__item {
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 25px;
    text-align: center;
}

.site-list__link {
    text-decoration: none;
    color: #ffffff;
    padding-right: 27px;
    padding-right: 27px;
    text-transform: uppercase;
}

.elecity-nav .current {
    background-color: #522ec2;
}
.stiky-nav{
    position: fixed;
    z-index: 500;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width: 1240px) {
    .stiky-nav{
        left: 0;
        width: 100%;
        max-width: 100%;
    }
}

.product-btn {
    width: 200px !important;
    height: 48px !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
    font-weight: bold !important;
}