/**
  * Litle carusel variant
 */
#products-viewed-items{
    scroll-behavior: smooth;
    justify-content: start;
}

#products-viewed-items .products-viewed-item{
    flex: 0 0 20%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
