#two-banner-block img{
    /*width: 100%;*/
    max-height: 450px;
}
#two-banner-block a{
    text-decoration: none;
}
#two-banner-block .catalog-percent-big{
    position: absolute;
    top: 100px;
    right: 40px;
}
