/**
  * Brands category chars
  */
.brands_category_chars a{
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin-bottom: 5px;
	font-size: 20px;
	padding: 0;
	text-align: center;
	text-decoration: none;
}
.brands_category_chars a:hover{
	background-color: #6339C9;
}

/**
  * Brand item
  */
.brend-item{
	margin: 5px;
	line-height: 16px;
	text-decoration: none;
	color: #666;
	font-size: 16px !important;
}

/**
  * Other styles
  */
.btn.disabled{
	background-color: #c3c3c3;
}
.s7sbp--marketplace--section-title{
	font-size: 40px;
	border-bottom: 2px solid #dddddd;
	padding-left: 20px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	margin-top: 15px;
}

/**
  * Brend item
  */
.brend-item{
	font-size: 1rem;
	line-height: 16px;
	text-decoration: none;
	color: #666;
    font-size: 16px !important;
}