.s7sbp--marketplace--header--search-line--buttons--lk {
	position: relative;
	max-width: 180px;
	cursor: default;
}
.s7sbp--marketplace--header--search-line--buttons--lk--icon,
.s7sbp--marketplace--header--search-line--buttons--lk--titile {cursor: pointer}

.s7sbp--marketplace--lk--menu--wrapp {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.s7sbp--marketplace--lk--menu--text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	white-space: nowrap;
}

.s7sbp--marketplace--lk--menu {
	position: absolute;
	top: 52px;
	left: -84px;
	z-index: 650;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,.12);
	border-radius: 2px;
	margin: 0 -20px;
	min-width: 200px;
	padding: 30px 30px 10px;
	text-align: left;
	height: auto;
}

.s7sbp--marketplace--lk--menu:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-bottom-color: #fff;
	left: 50%;
	top: -16px;
	margin-left: -11px;
}


.s7sbp--marketplace--lk--menu--item {
	margin-bottom: 10px;
}
.s7sbp--marketplace--lk--menu--item a {
	color: #000;
	text-decoration: none;
	font-size: 14px;
	line-height: 1.2;
	white-space: nowrap;
}
.s7sbp--marketplace--lk--menu--item a:hover {
	color: rgba(242, 19, 193, 0.64);
	text-decoration: underline;
}

.s7sbp--marketplace--lk--menu--item_title {
	margin-top: 30px;
	color: #878787;
	text-transform: uppercase;
}

.s7sbp--marketplace--lk--menu--item_exit a {
	color: #663af2;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}