/**
  * Litle carusel variant
 */
#recomend-slider{
    scroll-behavior: smooth;
}

#recomend-slider .recomend-slider-item{
    flex: 0 0 20%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
