/**
  * Litle carusel variant
 */
#products-viewed-items{
    scroll-behavior: smooth;
}

#products-viewed-items .products-viewed-item{
    flex: 0 0 30%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#products-viewed-items .products-viewed-item img{
    width: 100%;
    max-width: 200px;
    height: auto;
}
