
.sale-order-detail { }

.sale-order-detail .excell-download{
	display: inline-block;
	line-height: 14px;
	padding-left: 20px;
	background-image: url("images/excel.svg");
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: center;
	background-size: contain;
	vertical-align: top;
	white-space: nowrap;
}

.sale-order-detail-card { border: 1px solid var(--theme-color-primary); }

.sale-order-detail-card-title {
	margin: 0 -15px;
	padding: 8px 15px;
	background-color: var(--theme-color-primary);
	color: #fff;
	font-weight: normal;
	font-size: 17px;
}

.sale-order-detail-section-title {
	padding: 8px 15px;
	background: #f2f2f2;
	font-size: 15px;
}

.sale-order-detail-prop-name {
	color: #333;
	font-size: 15px;
}

.sale-order-detail-prop-value {
	color: #000;
	font-weight: bold;
	font-size: 14px;
}

.sale-order-detail-more-info-more,
.sale-order-detail-more-info-less {
	border-bottom: 1px dashed;
	text-decoration: none !important;
	font-size: 13px;
}

.sale-order-detail-more-info-less { display: none; }

.sale-order-detail-more-info-details-title {
	color: #888;
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
}

.sale-order-detail-more-info-details-table { }

.sale-order-detail th,
.sale-order-detail td { font-size: 13px; }

.sale-order-payment-change-pp { font-size: 14px; }

#bx_old_s_map { margin-bottom: 10px; }

#map-container { height: 200px; }

/* sale personal order component */

.sale-order-list-cancel-payment {
	margin: 29px 0 0;
	border-bottom: 1px dashed;
	font-size: 13px;
	cursor: pointer;
}

.sale-order-detail-payment-options-methods-info-change-link:hover,
.sale-order-detail-show-link:hover,
.sale-order-detail-hide-link:hover,
.sale-order-list-cancel-payment:hover,
.sale-order-detail-payment-options-methods-info-change-link:active,
.sale-order-detail-show-link:active,
.sale-order-detail-hide-link:active,
.sale-order-list-cancel-payment:active,
.sale-order-detail-payment-options-methods-info-change-link:visited,
.sale-order-detail-show-link:visited,
.sale-order-detail-hide-link:visited,
.sale-order-list-cancel-payment:visited { text-decoration: none !important; }

.sale-order-detail-section-comments { padding: 0 15px; }

/* payment */

.sale-order-detail-payment-options-methods-container:before {
	position: absolute;
	top: 0;
	bottom: 63px;
	left: 33px;
	width: 1px;
	height: 100%;
	background: #777f8a;
	content: '';
}

div.payment-options-methods-row {
	position: relative;
	overflow: hidden;
	margin: 0 0 0 -15px;
	padding: 0 0 0 69px;
}

div.payment-options-methods-row:before {
	position: absolute;
	top: 50%;
	left: 34px;
	margin: -1px 0 0;
	width: 30px;
	height: 1px;
	background: #777f8a;
	content: '';
}

div.payment-options-methods-row:last-child:after {
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 33px;
	display: block;
	width: 1px;
	background: #fff;
	content: '';
}

div.sale-order-detail-payment-options-methods {
	overflow: hidden;
	padding: 20px 0 26px 0;
	border-top: 1px solid #f2f2f2;
}

.sale-order-detail-payment-options-shipment-image-container,
.sale-order-detail-payment-options-methods-image-container {
	min-width: 81px;
	text-align: center;
}

.sale-order-detail-section-payment-image {
	display: inline-block;
	height: 54px;
	background: url(images/sale-personal-order-payment-options-order-number.svg) center no-repeat;
}

.sale-order-detail-payment-options-info-order-number,
.sale-order-detail-payment-options-info-total-price {
	color: #000;
	font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 21px;
}

.sale-order-detail-payment-options-info-total-price { font-weight: normal; }

.sale-order-detail-payment-options-info-total-price span { white-space: nowrap; }

.sale-order-detail-payment-options-methods-information-block {
	opacity: 1;
	transition: opacity .5s .3s ease;
}

.sale-order-detail-payment-options-methods-image-element,
.sale-order-detail-payment-options-shipment-image-element {
	display: block;
	margin: 0;
	height: 51px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.sale-order-detail-payment-options-methods-info-title,
.sale-order-detail-payment-options-methods-shipment-list-item-title {
	color: #000;
	font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sale-order-detail-payment-options-shipment-button-element {
	color: #4a90e2;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sale-order-detail-payment-options-methods-info-title-status-alert,
.sale-order-detail-payment-options-methods-info-title-status-restricted,
.sale-order-detail-payment-options-methods-info-title-status-success {
	display: inline-block;
	padding: 4px 10px 5px 8px;
	border: 1px solid #eab3b9;
	border-radius: 2px;
	background: #ffe5e8;
	color: #d0021b;
	font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sale-order-detail-payment-options-methods-info-title-status-success {
	border: 1px solid #bed277;
	background: #e3f0bd;
	color: #597707;
}

.sale-order-detail-payment-options-methods-info-title-status-restricted {
	border: 1px solid rgba(128, 134, 142, 0.20);
	background: #f3f4f5;
	color: #535c69;
}

.sale-order-detail-payment-options-methods-info-total-check,
.sale-order-detail-payment-options-methods-info-total-price { font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.sale-order-detail-payment-options-methods-info-change-link {
	display: block;
	padding: 6px 0 0;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sale-order-detail-payment-options-methods-info-total-check {
	float: left;
	width: 100%;
}

.sale-order-detail-sum-check-left {
	display: inline;
	float: left;
	padding-right: 5px;
}

.sale-order-detail-payment-options-methods-template { }

div.sale-order-detail-payment-options-methods-template {
	position: absolute;
	left: 1000px;
	margin: 0;
	padding: 24px 38px 24px 38px;
	border: 1px solid #3bc8f5;
	opacity: 0;
	transition: opacity .5s .3s ease;
}

/* Active statement */
.sale-order-detail-active-event .sale-order-detail-payment-options-methods-template {
	position: relative;
	left: 0;
	opacity: 1;
}

.sale-order-detail-active-event .sale-order-detail-payment-options-methods-information-block {
	position: absolute;
	left: 1000px;
	opacity: 0;
}

.sale-order-detail-active-event .sale-order-detail-payment-options-methods-template.sale-paysystem-close {
	position: absolute;
	left: 1000px;
}

/* shipment */
.sale-order-detail-payment-options-methods-shipment-list {
	padding-left: 5px !important;
	list-style: none;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sale-order-detail-shipment-id { font-weight: 700; }

.sale-order-detail-shipment-id-icon {
	display: inline-block;
	width: 11px;
	height: 13px;
	background: url("images/sale-order-item-id-element.svg") center no-repeat;
	cursor: pointer;
}

.sale-order-payment-cancel {
	text-decoration: underline;
	cursor: pointer;
}

.sale-order-detail-show-link,
.sale-order-detail-hide-link,
.sale-order-detail-payment-options-methods-info-change-link {
	display: inline;
	border-bottom: 1px dashed;
	cursor: pointer;
	transition: border-bottom .3s ease;
}

.sale-order-detail-hide-link { display: none; }

.sale-order-payment-cancel:hover,
.sale-order-detail-payment-options-methods-info-change-link:hover { text-decoration: none; }

.sale-order-detail-payment-options-shipment-button-container { text-align: right; }

.sale-order-detail-payment-options-shipment-button-element {
	display: block;
	text-decoration: underline;
}

.sale-order-detail-payment-options-shipment-composition-map { display: none; }

.sale-order-detail-payment-options-shipment-composition-map-container-map {
	min-height: 251px;
	width: 100%;
}

.sale-order-detail-payment-options-shipment-map-address { margin: 19px 0 39px; }

.sale-order-detail-payment-options-shipment-map-address-title {
	color: #2f3435;
	font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sale-order-detail-payment-options-shipment-map-address-element { font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.sale-order-detail-total-payment { padding: 18px 0; }

.sale-order-detail-total-payment-list-left,
.sale-order-detail-total-payment-list-right { list-style: none; }

.sale-order-detail-total-payment-list-left-item {
	overflow: hidden;
	color: #2f3435;
	list-style: none;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sale-order-detail-total-payment-list-right-item {
	height: 20px;
	color: #2f3435;
	text-align: right;
	font: bold 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
}

/* colors grey */

.sale-order-detail-payment-options-shipment-composition-map-title {
	color: #888;
	font: bold 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* General detail theme color */
.sale-order-detail-payment-inner-row-template {
	display: none;
	margin-top: 20px;
	cursor: pointer;
}

/* sale personal order ajax styles */

.sale-order-detail-order-section.bx-step-completed { border: 1px solid #83cb1b; }

.sale-order-detail-order-section-title-container {
	overflow: hidden;
	padding: 7px 0;
	background: #f2f5f7;
	font-size: 14px;
}

.sale-order-detail-order-section.bx-selected .sale-order-detail-order-section-title-container { padding: 15px; }

/* Table */

.sale-order-detail-order-item-img-block {
	margin: 0;
	padding-left: 0 !important;
	min-width: 85px;
	max-width: 85px;
	width: 85px;
}

.sale-order-detail-order-item-img-container {
	display: block;
	padding-top: 100%;
	border: 1px solid #c0cfd9;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.sale-order-detail-order-item-img-container:hover { border-color: var(--theme-color-primary); }

.sale-order-detail-order-item-title { }

.sale-order-detail-order-item-properties {
	font-size: 14px;
}

.sale-order-detail-order-item-properties-name {
	color: #7c7c7c;
}

.sale-order-detail-order-item-properties-type { color: #7c7c7c; }

.bx-price { white-space: nowrap; }

.bx-price-old {
	color: #b8b8b8;
	text-decoration: line-through;
	white-space: nowrap;
	font-size: 13px;
}

.sale-order-detail-order-item-td-control {
	padding-bottom: 5px;
	font-size: 11px;
}

/* Advanced info */
.sale-order-detail-status-restricted-message-block {
	padding-top: 10px;
}

.sale-order-detail-status-restricted-message {
	color: #9e9fa2;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Close icon */
.sale-paysystem-close {
	position: absolute;
	top: 7px;
	right: 7px;
	z-index: 1;
}

.sale-paysystem-close-item {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(images/sale-personal-order-sprite.svg) 1px 1px no-repeat;
	opacity: 1;
	cursor: pointer;
	transition: opacity .3s ease;
}

.sale-paysystem-close-item:hover { opacity: .5; }

/* Media */

@media (max-width: 991px) {
	.sale-order-detail-payment-options-shipment-button-container {
		margin: 20px 0 0;
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.sale-order-detail-payment-options-methods-button-container { float: right; }
}

@media (max-width: 767px) {
	div.sale-order-detail-payment-options-methods-button-container { margin-top: 15px; }
}

@media (max-width: 768px) {
	.sale-order-detail-payment-options-methods-shipment-list,
	.sale-order-detail-payment-options-methods-info { padding-left: 15px !important; }

	.sale-order-detail-payment-options-info-order-number,
	.sale-order-detail-payment-options-info-total-price { height: auto; }

	.sale-order-detail-payment-options-shipment-button-element { text-align: center; }
}

@media (max-width: 320px) {
	.sale-order-detail-total-payment-list-left-item,
	.sale-order-detail-payment-options-info-total-price { font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.sale-order-detail-payment-options-info-order-number,
	.sale-order-detail-total-payment-list-right-item { font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.sale-order-detail-payment-options-shipment-button-element { text-align: center; }
}