#user_profiles input[type="text"]{
    width: 100%;
}
#user_profiles .btn-danger{
    color: #dc3545;
    background-color: #fff;
    border-color: #dc3545;
}

#user_profiles .fa-remove,
#user_profiles .fa-edit{
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    padding: 0;
}
#user_profiles .fa-remove{
    background-image: url("images/delete.png");
    background-color: #f1f1f1;
}
#user_profiles .fa-edit{
    background-image: url("images/edit.png");
}
#user_profiles .fa-edit:hover{
    background-color: #8e6cfe;
}
#user_profiles .fa-remove:hover{
    background-color: #ededed;
}
#user_profiles .bx-sls .dropdown-block{
    padding: 6px 22px 6px 30px;
    font-size: 14px;
    line-height: 14px;
}
#user_profiles .bx-sls .bx-ui-sls-fake,
#user_profiles .bx-sls .bx-ui-sls-route{
    height: 22px;
}