/**
  * Litle carusel variant
 */
#top-bunner-items{
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    height: 390px;
    display: flex;
    align-items: center;
}

#top-bunner-items .top-bunner-item{
    flex: 0 0 100%;
    text-align: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

#top-bunner-items .top-bunner-item img{
    width: 100%;
    height: 390px;
    object-fit: cover;
}
.catalog-adept #must-have-items .square-200,
.catalog-adept #news-items .square-200,
.catalog-adept #products-viewed-items .square-200 	 {
	width: 100% !important;
}
#top-bunner-controls{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -45px;
}
#top-bunner-controls .top-bunner-prev,
#top-bunner-controls .top-bunner-next{
    width: 60px;
    height: 90px;
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/arrows.png");
}

#top-bunner-controls .top-bunner-prev{
    left: 8%;
    background-position: 0 0;
}
#top-bunner-controls .top-bunner-next{
    right: 8%;
    background-position: -54px 0;
}