.select,
.list{min-width: 320px;}
.select .list{
    max-height: 340px;
    overflow: auto !important;
}

/**
  * import btn
  */
.pulsate-btn{
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.pulsate-btn:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}
.pulsate-btn:active {
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 0 0 1px #8bc34a7a, 0 0 0 10px #8bc34a7a;
}
@-webkit-keyframes pulsate {
    50% {
        text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
        box-shadow: 0 0 0 1px #8bc34a7a, 0 0 0 10px #8bc34a7a;
    }
}
@keyframes pulsate {
    50% {
        text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
        box-shadow: 0 0 0 1px #8bc34a7a, 0 0 0 10px #8bc34a7a;
    }
}

/**
  * Checking btn
  */
.btn-secondary,
.btn-success{
    background-image: none !important;
}

/**
  * WCT
  */
.delivery-service__title {
    font-size: 24px;
    font-family: "DINPro-Bold", sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}
.loader-title {
    font-size: 18px;
    font-family: "DINPro-Bold", sans-serif;
    font-weight: 700;
}

.webcomtorg__form-btn button,
.webcomtorg__form-btn a,
.footer__mailing-form button,
.footer__mailing-form a,
.btn-filt-wct button,
.btn-filt-wct a,
.btn-list__product button,
.btn-list__product a {
    display: inline-block;
    border: none;
    background-image: -webkit-gradient(linear,
    right top,
    left top,
    from(#aa261d),
    to(#cb372d));
    background-image: -o-linear-gradient(right, #aa261d 0%, #cb372d 100%);
    background-image: linear-gradient(to left, #aa261d 0%, #cb372d 100%);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "DINPro-Bold", sans-serif;
    font-weight: 700;
    padding: 16px 48px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    border-radius: 24px;
    height: 48px;
}
.btn{
    line-height: 1.2 !important;
}
.btn-list__product {
    text-align: left;
    margin-top: 15px;
    padding-bottom: 10px;
}