/**
  * Litle carusel variant
 */
#brands-slider-items{
    scroll-behavior: smooth;
}

#brands-slider-items .brands-slider-item{
    flex: 0 0 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#brands-slider-items .brands-slider-item img {
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    max-width: 120px
}

#brands-slider-items .brands-slider-item img:hover {
    -moz-opacity: 1;
    khtml-opacity: 1;
    opacity: 1;
    filter: none;
    -webkit-filter: grayscale(0)
}