.map-columns a{color: #663af2;}
ul.map-level-0 a {
	font-weight: bold;
}

ul.map-level-1 a, ul.map-level-2 a, ul.map-level-3 a {
	font-weight: normal;
}

.map-columns td {
	vertical-align: top;
}
.map-columns td ul{
	margin-left: 24px;
}